{{#view "widget" title="Top 10 Debtors" context=context}}
    <table class="table">
        <thead>
            <tr>
                <th>{{t "Partner"}}</th>
                <th style="text-align:right">{{t "Outstanding"}}</th>
                <th style="text-align:right">{{t "Overdue"}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each context.data}}
                <tr>
                    <td>{{partner_name}}</td>
                    <td style="text-align:right">{{currency amount_due}}</td>
                    <td style="text-align:right">{{currency amount_overdue}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/view}}
