<div class="nf-table-container">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    Project
                </th>
                <th>
                    Total
                </th>
                <th>
                    This Week
                </th>
                <th>
                    Last Week
                </th>
                <th>
                    Week-2
                </th>
                <th>
                    Week-3
                </th>
                <th>
                    Week-4
                </th>
                <th>
                    Week-5
                </th>
                <th>
                    Week-6
                </th>
                <th>
                    Week-7
                </th>
                <th>
                    Older
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each context.data.lines context=context}}
                <tr>
                    <td>
                        {{project_name}}
                    </td>
                    <td>
                        {{total_bill_hours}} / {{total_actual_hours}}
                    </td>
                    {{#each weeks context=context}}
                        <td>
                            {{bill_hours}} / {{actual_hours}}
                        </td>
                    {{/each}}
                    <td>
                        {{older.bill_hours}} / {{older.actual_hours}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
