{{#view "page" title="All Reports"}}
    <div class="row">
        <div class="col-sm-6">
            <div class="nf-board-title">
                <h3>{{t "Performance Reports"}}</h3>
            </div>
            <div style="margin-bottom:20px">
                <div>
                    <a href="#name=report_profit_loss">{{t "Profit and Loss"}}</a>
                </div>
                <div>
                    <a href="#name=report_account_sale">{{t "Sales Report"}}</a>
                </div>
                <div>
                    <a href="#name=report_account_purchase">{{t "Expenses Report"}}</a>
                </div>
                <!--
                <div>
                    <a href="#name=report_income_contact">{{t "Income By Contact"}}</a>
                </div>
                <div>
                    <a href="#name=report_expense_contact">{{t "Expenses By Contact"}}</a>
                </div>
                -->
            </div>
            <div class="nf-board-title">
                <h3>{{t "Cash Reports"}}</h3>
            </div>
            <div style="margin-bottom:20px">
                <div>
                    <a href="#name=report_cash_flow">{{t "Cash Flow Statement"}}</a>
                </div>
                <div>
                    <a href="#name=report_bank_rec">{{t "Bank Reconciliation Summary"}}</a>
                </div>
                <div>
                    <a href="#name=report_reconcile">{{t "Reconciliation Report"}}</a>
                </div>
            </div>
            <div class="nf-board-title">
                <h3>{{t "Foreign Currency Reports"}}</h3>
            </div>
            <div style="margin-bottom:20px">
                <div>
                    <a href="#name=report_currency">{{t "Unrealized Gains and Losses"}}</a>
                </div>
            </div>
            <div class="nf-board-title">
                <h3>{{t "Position Reports"}}</h3>
            </div>
            <div style="margin-bottom:20px">
                <div>
                    <a href="#name=report_aged_receivables">{{t "Aged Receivables Summary"}}</a>
                </div>
                <div>
                    <a href="#name=report_aged_payables">{{t "Aged Payables Summary"}}</a>
                </div>
                <div>
                    <a href="#name=report_ar_details">{{t "Aged Receivables Details"}}</a>
                </div>
                <div>
                    <a href="#name=report_ap_details">{{t "Aged Payables Details"}}</a>
                </div>
                <div>
                    <a href="#name=report_balance_sheet">{{t "Balance Sheet"}}</a>
                </div>
                <div>
                    <a href="#name=report_dep_schedule">{{t "Depreciation Schedule"}}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="nf-board-title">
                <h3>{{t "Detail Reports"}}</h3>
            </div>
            <div style="margin-bottom:20px">
                <div>
                    <a href="#name=report_account_trans">{{t "Account Transactions"}}</a>
                </div>
                <div>
                    <a href="#name=report_account_sum">{{t "Account Summary"}}</a>
                </div>
                <div>
                    <a href="#name=report_journal">{{t "Journal Report"}}</a>
                </div>
                <div>
                    <a href="#name=report_cust_invoice">{{t "Receivable Transactions"}}</a>
                </div>
                <div>
                    <a href="#name=report_supp_invoice">{{t "Payable Transactions"}}</a>
                </div>
                <div>
                    <a href="#name=report_tb">{{t "Trial Balance"}}</a>
                </div>
                <div>
                    <a href="#name=report_tb_details">{{t "Trial Balance Details"}}</a>
                </div>
                <div>
                    <a href="#name=report_gl">{{t "General Ledger Summary"}}</a>
                </div>
                <div>
                    <a href="#name=report_gl_details">{{t "General Ledger Details"}}</a>
                </div>
                <div>
                    <a href="#name=report_cust_inv">{{t "Customer Invoice Report"}}</a>
                </div>
            </div>
            <div class="nf-board-title">
                <h3>{{t "Tax Reports"}}</h3>
            </div>
            <div style="margin-bottom:20px">
                <div>
                    <a href="#name=report_tax_sum">{{t "Tax Summary Report"}}</a>
                </div>
                <div>
                    <a href="#name=report_tax_audit">{{t "Tax Audit Report"}}</a>
                </div>
            </div>
        </div>
    </div>
{{/view}}
