<center>
    <h2>
        Cash Flow Statement
    </h2>
    <h3>
        {{company_name}}
        <br/>
        {{fmt_date date_from}} to {{fmt_date date_to}}
    </h3>
</center>
<table class="table table-condensed">
    <tbody>
        {{#each lines}}
            <tr>
                <td>
                    {{string}}
                </td>
                <td style="text-align:right">
                    {{currency amount}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
