<center>
    <h2>
        General Ledger Summary
    </h2>
    <h3>
        {{company_name}}
        <br/>
        From {{fmt_date date_from}} to {{fmt_date date_to}}
        {{#if track_name}}
        <br/>
        Tracking: {{track_name}}
        {{/if}}
    </h3>
</center>
<table class="table">
    <thead class="scroll-header">
        <tr>
            <th>
                Account
            </th>
            <th style="text-align:right">
                Debit
            </th>
            <th style="text-align:right">
                Credit
            </th>
            <th style="text-align:right">
                Net Movement
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each lines context=context}}
            <tr>
                <td>
                    {{code}} - {{name}}
                </td>
                <td style="text-align:right">
                    {{currency debit zero=""}}
                </td>
                <td style="text-align:right">
                    {{currency credit zero=""}}
                </td>
                <td style="text-align:right">
                    <a href="/ui#name=report_account_trans&defaults.account_id={{id}}&defaults.date_from={{../date_from}}&defaults.date_to={{../date_to}}">
                        {{currency balance paren=1}}
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th>
                Total
            </th>
            <th style="text-align:right">
                {{currency total_debit}}
            </th>
            <th style="text-align:right">
                {{currency total_credit}}
            </th>
            <th style="text-align:right">
                {{currency total_balance}}
            </th>
        </tr>
    </tfoot>
</table>
