<center>
    <h2>
        Trial Balance
    </h2>
    <h3>
        {{company_name}}
        <br/>
        As at {{fmt_date date}}
        {{#if track_name}}
        <br/>
        Tracking: {{track_name}}
        {{/if}}
        {{#if track2_name}}
        <br/>
        Tracking-2: {{track2_name}}
        {{/if}}
        {{#if contact_name}}
        <br/>
        Contact: {{contact_name}}
        {{/if}}
    </h3>
</center>
<table class="table">
    <thead class="scroll-header">
        <tr>
            <th>
                Account
            </th>
            <th style="text-align:right">
                Begin Debit
            </th>
            <th style="text-align:right">
                Begin Credit
            </th>
            <th style="text-align:right">
                Period Debit
            </th>
            <th style="text-align:right">
                Period Credit
            </th>
            <th style="text-align:right">
                YTD Debit
            </th>
            <th style="text-align:right">
                YTD Credit
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each lines context=context}}
            {{#ifeq type "group_header"}}
                <tr>
                    <th colspan="10">
                        {{string}}
                    </th>
                </tr>
            {{/ifeq}}
            {{#ifeq type "account"}}
                <tr>
                    <td style="padding-left:20px">
                        {{string}}
                    </td>
                    <td style="text-align:right">
                        <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../begin_date_to}}&defaults.track_id={{../../track_id}}">
                            {{currency debit_begin zero=""}}
                        </a>
                    </td>
                    <td style="text-align:right">
                        <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../begin_date_to}}&defaults.track_id={{../../track_id}}">
                            {{currency credit_begin zero=""}}
                        </a>
                    </td>
                    <td style="text-align:right">
                        <a href="#name=report_account_trans&defaults.account_id={{id}}&defaults.date_from={{../../month_date_from}}&defaults.date_to={{../../date}}&defaults.track_id={{../../track_id}}">
                            {{currency debit_month zero=""}}
                        </a>
                    </td>
                    <td style="text-align:right">
                        <a href="#name=report_account_trans&defaults.account_id={{id}}&defaults.date_from={{../../month_date_from}}&defaults.date_to={{../../data.date}}&defaults.track_id={{../../track_id}}">
                            {{currency credit_month zero=""}}
                        </a>
                    </td>
                    <td style="text-align:right">
                        <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../date}}&defaults.track_id={{../../track_id}}">
                            {{currency debit_year zero=""}}
                        </a>
                    </td>
                    <td style="text-align:right">
                        <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../date}}&defaults.track_id={{../../track_id}}">
                            {{currency credit_year zero=""}}
                        </a>
                    </td>
                </tr>
            {{/ifeq}}
            {{#ifeq type "group_footer"}}
                <tr style="font-weight:bold">
                    <td style="border-top: 1px solid #999;{{#if padding}}padding-left:{{padding}}px{{/if}}">
                        {{string}}
                    </td>
                    <td style="text-align:right;border-top: 1px solid #999">
                        {{currency debit_begin zero=""}}
                    </td>
                    <td style="text-align:right;border-top: 1px solid #999">
                        {{currency credit_begin zero=""}}
                    </td>
                    <td style="text-align:right;border-top: 1px solid #999">
                        {{currency debit_month zero=""}}
                    </td>
                    <td style="text-align:right;border-top: 1px solid #999">
                        {{currency credit_month zero=""}}
                    </td>
                    <td style="text-align:right;border-top: 1px solid #999">
                        {{currency debit_year zero=""}}
                    </td>
                    <td style="text-align:right;border-top: 1px solid #999">
                        {{currency credit_year zero=""}}
                    </td>
                </tr>
                {{#ifeq separator "single"}}
                    <tr>
                        <td style="border-top:1px solid #000" colspan="10">
                        </td>
                    </tr>
                {{/ifeq}}
                {{#ifeq separator "double"}}
                    <tr>
                        <td style="border-top:1px solid #000; border-bottom:1px solid #000; padding:0; height:1px" colspan="10">
                        </td>
                    </tr>
                {{/ifeq}}
            {{/ifeq}}
        {{/each}}
    </tbody>
</table>
