<center>
    <h2>
        Balance Sheet
    </h2>
    <h3>
        {{company_name}}
        <br/>
        As at {{fmt_date date}}
    </h3>
</center>
<table class="table table-condensed">
    <thead class="scroll-header">
        <tr>
            <th>
            </th>
            <th style="text-align:right">
                {{fmt_date col0}}
            </th>
            {{#if col1}}
                <th style="text-align:right">
                    {{fmt_date col1}}
                </th>
            {{/if}}
            {{#if col2}}
                <th style="text-align:right">
                    {{fmt_date col2}}
                </th>
            {{/if}}
            {{#if col3}}
                <th style="text-align:right">
                    {{fmt_date col3}}
                </th>
            {{/if}}
            {{#if col4}}
                <th style="text-align:right">
                    {{fmt_date col4}}
                </th>
            {{/if}}
            {{#if col5}}
                <th style="text-align:right">
                    {{fmt_date col5}}
                </th>
            {{/if}}
            {{#if col6}}
                <th style="text-align:right">
                    {{fmt_date col6}}
                </th>
            {{/if}}
            {{#if col7}}
                <th style="text-align:right">
                    {{fmt_date col7}}
                </th>
            {{/if}}
            {{#if col8}}
                <th style="text-align:right">
                    {{fmt_date col8}}
                </th>
            {{/if}}
            {{#if col9}}
                <th style="text-align:right">
                    {{fmt_date col9}}
                </th>
            {{/if}}
            {{#if col10}}
                <th style="text-align:right">
                    {{fmt_date col10}}
                </th>
            {{/if}}
            {{#if col11}}
                <th style="text-align:right">
                    {{fmt_date col11}}
                </th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each lines context=context}}
            {{#ifeq type "group_header"}}
                <tr style="font-weight:bold;{{#unless padding}}font-size: 16px{{/unless}}">
                    <td colspan="20" {{#if padding}}style="padding-left:{{padding}}px"{{/if}}>
                        {{string}}
                    </td>
                </tr>
            {{/ifeq}}
            {{#ifeq type "account"}}
                <tr>
                    <td {{#if padding}}style="padding-left:{{padding}}px"{{/if}}>
                        {{string}}
                    </td>
                    {{#ifeq string "Current Year Earnings"}}
                        <td style="text-align:right">
                            <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../date}}&defaults.track_id={{../../../track_id}}&defaults.track2_id={{../../../track2_id}}">
                                {{currency amount paren=1}}
                            </a>
                        </td>
                        {{#if ../../../col1}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date1}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount1 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col2}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date2}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount2 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col3}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date3}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount3 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col4}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date4}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount4 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col5}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date5}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount5 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col6}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date6}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount6 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col7}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date7}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount7 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col8}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date8}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount8 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col9}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date9}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount9 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col10}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date10}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount10 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col11}}
                            <td style="text-align:right">
                                <a href="#name=report_profit_loss&defaults.account_id={{id}}&defaults.date_to={{../../../../date11}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount11 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                    {{else}}
                        <td style="text-align:right">
                            <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../date}}&defaults.track_id={{../../../track_id}}&defaults.track2_id={{../../../track2_id}}">
                                {{currency amount paren=1}}
                            </a>
                        </td>
                        {{#if ../../../col1}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date1}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount1 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col2}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date2}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount2 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col3}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date3}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount3 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col4}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date4}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount4 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col5}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date5}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount5 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col6}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date6}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount6 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col7}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date7}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount7 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col8}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date8}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount8 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col9}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date9}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount9 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col10}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date10}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount10 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                        {{#if ../../../col11}}
                            <td style="text-align:right">
                                <a href="#name=report_account_sum&defaults.account_id={{id}}&defaults.date_to={{../../../../date11}}&defaults.track_id={{../../../../track_id}}&defaults.track2_id={{../../../../track2_id}}">
                                    {{currency amount11 paren=1}}
                                </a>
                            </td>
                        {{/if}}
                    {{/ifeq}}
                </tr>
            {{/ifeq}}
            {{#ifeq type "group_footer"}}
                <tr style="font-weight:bold">
                    <td style="border-top: 1px solid #999;{{#if padding}}padding-left:{{padding}}px{{/if}}">
                        {{string}}
                    </td>
                    <td style="border-top: 1px solid #999;text-align:right">
                        {{currency amount paren=1}}
                    </td>
                    {{#if ../../col1}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount1 paren=1}}
                        </td>
                    {{/if}}
                    {{#if ../../col2}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount2 paren=1}}
                        </td>
                    {{/if}}
                    {{#if ../../col3}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount3 paren=1}}
                        </td>
                    {{/if}}
                    {{#if ../../col4}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount4 paren=1}}
                        </td>
                    {{/if}}
                    {{#if ../../col5}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount5 paren=1}}
                        </td>
                    {{/if}}
                    {{#if ../../col6}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount6 paren=1}}
                        </td>
                    {{/if}}
                    {{#if ../../col7}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount7 paren=1}}
                        </td>
                    {{/if}}
                    {{#if ../../col8}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount8 paren=1}}
                        </td>
                    {{/if}}
                    {{#if ../../col9}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount9 paren=1}}
                        </td>
                    {{/if}}
                    {{#if ../../col10}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount10 paren=1}}
                        </td>
                    {{/if}}
                    {{#if ../../col11}}
                        <td style="border-top: 1px solid #999;text-align:right">
                            {{currency amount11 paren=1}}
                        </td>
                    {{/if}}
                </tr>
                {{#ifeq separator "single"}}
                    <tr>
                        <td style="border-top:1px solid #000" colspan="20">
                        </td>
                    </tr>
                {{/ifeq}}
                {{#ifeq separator "double"}}
                    <tr>
                        <td style="border-top:1px solid #000; border-bottom:1px solid #000; padding:0; height:1px" colspan="20">
                        </td>
                    </tr>
                {{/ifeq}}
            {{/ifeq}}
        {{/each}}
    </tbody>
</table>
