{{#unless options.no_title}}
    <div class="page-header nf-page-header">
        <h1>{{page_title}}</h1>
    </div>
{{/unless}}
{{view "flash" context=context}}
<div class="row">
    {{#each columns}}
        <div class="col-sm-3">
            <div class="panel panel-default nf-columns-group" draggable="true">
                <div class="panel-heading" style="cursor:move">
                    {{title}}
                </div>
                <div class="panel-body nf-columns-group-body">
                    {{#each records}}
                        <div class="panel panel-primary nf-columns-record" draggable="true" data-model-id="{{id}}">
                            <div class="panel-heading" style="cursor:move">
                                {{title}}
                            </div>
                            <ul class="list-group">
                                {{#each fields}}
                                    <li class="list-group-item">
                                        <b>{{string}}</b>
                                        {{{value}}}
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
