{{#unless options.nolabel}}
    <label class="control-label {{#if horizontal}}col-sm-4{{/if}}">
        {{t string}}
    </label>
{{/unless}}
<div class="{{#if horizontal}}col-sm-8{{/if}}">
    {{#if readonly}}
        <span{{#if input}} class="uneditable-input {{#if options.size}}input-{{options.size}}{{/if}}"{{/if}}>
            {{fmt_date value}}
        </span>
    {{else}}
        <input type="text" value="{{fmt_date value}}" class="form-control date-inp {{#if options.span}}span{{options.span}}{{/if}} {{#if options.size}}input-{{options.size}}{{/if}}"/>
    {{/if}}
</div>
