{{#if options.show_top}}
    <div class="page-header nf-page-header">
        <h1>{{page_title}}</h1>
    </div>
    {{view "flash" context=context}}
    <div class="btn-toolbar nf-btn-toolbar">
        {{{call render_top context}}}
    </div>
{{/if}}
{{#if options.show_head}}
    <div class="search"></div>
    <div class="btn-toolbar nf-btn-toolbar">
        {{{call render_head context}}}
    </div>
{{/if}}
{{#if rows.0.items}}
    {{#each rows context=context}}
        <div class="row">
            {{#each items context=context}}
                <div class="col-sm-{{../../grid_item_span}}">
                    {{view "grid_item" model=../../options.model grid_layout=../../grid_layout data=data next_action=../../options.next_action next_action_options=../../options.next_action_options context=context on_select_item=../../on_select_item}}
                </div>
            {{/each}}
        </div>
    {{/each}}
    {{view "pagination" context=context}}
{{else}}
    There are not items to display.
{{/if}}
