<ol class="breadcrumb nf-breadcrumb">
    <li>
        <a href="#">{{bread_string}}</a>
    </li>
    <div class="pull-right">
        {{#if start_url}}
            <a href="{{start_url}}">&laquo; Start</a>
        {{/if}}
        {{#if prev_url}}
            <a href="{{prev_url}}">&lsaquo; Prev</a>
        {{/if}}
        {{#if count}}
            <span style="margin:5px;color:#666">{{record_index_p1}} /  {{count}}</span>
        {{/if}}
        {{#if next_url}}
            <a href="{{next_url}}">Next &rsaquo;</a>
        {{/if}}
        {{#if end_url}}
            <a href="{{end_url}}">End &raquo;</a>
        {{/if}}
    </div>
</ol>
<div class="page-header nf-page-header">
    {{#if show_company}}
        <div id="company" style="float:right;margin-top:20px;color:#666;font-weight:bold;font-size:14px">{{company_name}}</div>
    {{/if}}
    <h1>
        {{title}}
        {{#if subtitle}}
            <small>{{subtitle}}</small>
        {{/if}}
    </h1>
</div>
{{view "inline_help" action=options.action_name context=context}}
{{{content}}}
{{view "flash" context=context}}
{{#view "form" readonly="1" border="1" context=context}}
    {{#view "form_head" context=context}}
        {{{call ../../render_toolbar context}}}
    {{/view}}
    {{#view "form_body" context=context}}
        {{{call ../../render_body context}}}
    {{/view}}
    {{#view "form_foot" nobackground=true context=context}}
        {{{call ../../render_foot context}}}
    {{/view}}
{{/view}}
<div class="related">
    {{{call render_related context}}}
</div>
