{{#unless options.hide_params}}
    <div class="page-header nf-page-header">
        <h1>{{options.string}}</h1>
    </div>
    {{view "flash" context=context}}
    {{#view "form" border="1" context=context}}
        {{#view "form_body" background="1" context=context}}
            <div class="row">
                {{view "field" name="_group_field1" span="2" context=context}}
                {{view "field" name="_group_field2" span="2" context=context}}
                {{view "field" name="_agg_field1" span="2" context=context}}
                {{view "field" name="_agg_field2" span="2" context=context}}
                {{view "field" name="_view_type" span="2" context=context}}
            </div>
            {{view "separator" string="Filter" context=context}}
            <div>
                {{{call ../../render_search_body context}}}
            </div>
        {{/view}}
    {{/view}}
    <div class="btn-toolbar nf-btn-toolbar">
        <a href="#" class="btn btn-primary run-report">Run Report</a>
        <a href="#" class="btn btn-default nf-export-xls">Export XLS</a>
    </div>
{{/unless}}
{{#ifeq view_type "list"}}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                {{#each cols}}
                    <th>
                        {{string}}
                    </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each lines}}
                <tr>
                    {{#each cols}}
                        <td>
                            {{#if string}}
                                {{#if is_year}}
                                    {{string}}
                                {{else}}
                                    {{currency string}}
                                {{/if}}
                            {{else}}
                                N/A
                            {{/if}}
                        </td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/ifeq}}
{{#ifeq view_type "crosstab"}}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    {{group_field.string}}
                </th>
                <th>
                    {{subgroup_field.string}}
                </th>
                {{#each subgroup_vals}}
                    <th>
                        {{string}}
                    </th>
                {{/each}}
                <th>
                    Grand Total
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each group_lines}}
                <tr>
                    <th>
                        {{group_val.string}}
                    </th>
                    <td>
                        {{#each ../agg_fields}}
                            <span style="white-space:nowrap">{{string}}</span><br/>
                        {{/each}}
                    </td>
                    {{#each cols}}
                        <td>
                            {{#each agg_vals}}
                                {{string}}
                                <br/>
                            {{/each}}
                        </td>
                    {{/each}}
                    <th>
                        {{#each total_agg_vals}}
                            {{string}}
                            <br/>
                        {{/each}}
                    </th>
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Grand Total
                </th>
                <th>
                    {{#each agg_fields}}
                        <span style="white-space:nowrap">{{string}}</span><br/>
                    {{/each}}
                </th>
                {{#each total_cols}}
                    <th>
                        {{#each agg_vals}}
                            {{string}}
                            <br/>
                        {{/each}}
                    </th>
                {{/each}}
                <th>
                    {{#each total_agg_vals}}
                        {{string}}
                        <br/>
                    {{/each}}
                </th>
            </tr>
        </tfoot>
    </table>
{{/ifeq}}
{{#ifeq view_type "bar"}}
    <div class="chart"/>
{{/ifeq}}
{{#ifeq view_type "pie"}}
    <div class="chart"/>
{{/ifeq}}
