<v:bread>
    <v:bread_item string="Goods Receipt" action="pick_in_all"/>
    {{#ifeq context.data.state "draft"}}
        <v:bread_item string="Draft" action="pick_in_draft"/>
    {{/ifeq}}
    {{#ifeq context.data.state "pending"}}
        <v:bread_item string="Pending" action="pick_in_pending"/>
    {{/ifeq}}
    {{#ifeq context.data.state "done"}}
        <v:bread_item string="Completed" action="pick_in_done"/>
    {{/ifeq}}
</v:bread>
<v:page title="{{#if context.data.id}}Edit{{else}}New{{/if}} Goods Receipt">
    <v:flash/>
    <v:form border="1" {{#ifin context.data.state "done" "voided"}} readonly="1"{{/ifin}}>
        <v:form_head>
            <strong>{{field_value "state" context=context}}</strong>
            <div class="btn-toolbar" style="float:right;margin:0">
                {{#if context.data.id}}
                    <v:button string="Print PDF" icon="print" action="report_pick_form_doc" action_options="picking_id={{context.data.id}}"/>
                {{/if}}
                <v:button_group string="Options" dropdown="1" align="right">
                    <v:item string="Copy From Purchase Order" action="purch_to_pick"/>
                    {{#ifeq context.package "enterprise"}}
                        <v:item string="Copy From Production Order" action="production_to_pick_in"/>
                    {{/ifeq}}
                    {{#if context.data.id}}
                        <v:item string="Copy To Supplier Invoice" method="copy_to_invoice"/>
                        <v:item string="Copy" method="copy"/>
                        {{#ifeq context.data.state "done"}}
                            <v:divider/>
                            <v:item string="Void" method="void" confirm="Are you sure you want to void this goods receipt?"/>
                        {{/ifeq}}
                    {{/if}}
                </v:button_group>
            </div>
        </v:form_head>
        <v:form_body {{#unless context.readonly}}background="1"{{/unless}}>
            <v:row>
                <v:field name="partner_id" span="2" create="1"/>
                <v:field name="number" span="2"/>
                <v:field name="ref" span="2"/>
                <v:field name="date" span="2"/>
            </v:row>
            <v:field name="lines" template="pick_in_line_sheet" count="5" nolabel="1"/>
            <v:field name="state" invisible="1"/>
            <v:field name="uuid" invisible="1"/>
            <v:field name="type" invisible="1"/>
        </v:form_body>
        {{#ifin context.data.state "draft" "pending"}}
            <v:form_foot>
                <v:button_group string="Save" split="1" method="_save" method_context="pick_type=in" size="large" type="primary" next="pick_in_all">
                    <v:item string="Save &amp; set to pending" method="pending" method_context="pick_type=in" next="pick_in_pending"/>
                </v:button_group>
                {{#ifeq context.data.state "pending"}}
                    <v:button string="Validate" action="pick_validate" action_options="picking_id={{context.data.id}}" size="large"/>
                {{/ifeq}}
            </v:form_foot>
        {{/ifin}}
    </v:form>
    <v:history uuid="{{context.data.uuid}}"/>
</v:page>
