<center>
    <h2>
        Stock Forecast
    </h2>
    <h3>
        {{company_name}}
    </h3>
    <h4>
        {{#if product_name}}
            Product: {{product_name}}
            <br/>
        {{/if}}
        {{#if location_name}}
            Location: {{location_name}}
            <br/>
        {{/if}}
        As at {{fmt_date date}}
    </h4>
</center>
<table class="table table-bordered table-striped">
    <thead class="scroll-header">
        <tr>
            <th></th>
            {{#if show_location}}
                <th></th>
            {{/if}}
            {{#if show_lot}}
                <th></th>
            {{/if}}
            <th colspan="100" style="text-align:center">Forecast Qty</th>
        </tr>
        <tr>
            <th>Product</th>
            {{#if show_location}}
                <th>Location</th>
            {{/if}}
            {{#if show_lot}}
                <th>Lot / Serial Number</th>
            {{/if}}
            {{#each periods}}
                <th>
                    {{#ifeq ../period_days 1}}
                        <span style="font-size:8px">{{fmt_date date_from fmt="ddd"}},</span>
                        <span>{{fmt_date date_from fmt="DD"}}</span>
                        <span style="font-size:10px">{{fmt_date date_from fmt="MMM"}}</span>
                    {{else}}
                        {{period_name}}
                    {{/ifeq}}
                </th>
            {{/each}}
        </tr>
    <tbody>
        {{#each lines context=context}}
            <tr>
                <td>
                    [{{code}}]
                    {{product_name}}
                </td>
                {{#if ../show_location}}
                    <td>
                        {{location_name}}
                    </td>
                {{/if}}
                {{#if ../show_lot}}
                    <td>
                        {{lot_num}}
                    </td>
                {{/if}}
                {{#each periods}}
                    <td align="right">
                        <a href="/ui#name=report_stock_card&defaults.product_id={{../product_id}}&defaults.location_id={{../location_id}}&defaults.date_from={{date_from}}&defaults.date_to={{date_to}}&defaults.show_pending=1" {{#if warning}}style="color:red;font-weight:bold"{{/if}}>{{qty}}</a>
                    </td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>
