<v:bread>
    <v:bread_item string="Stock Count" action="stock_count_all"/>
    {{#ifeq context.data.state "draft"}}
        <v:bread_item string="Draft" action="stock_count_draft"/>
    {{/ifeq}}
    {{#ifeq context.data.state "done"}}
        <v:bread_item string="Validated" action="stock_count_done"/>
    {{/ifeq}}
</v:bread>
<v:page title="{{#if context.data.id}}Edit{{else}}New{{/if}} Stock Count">
    <v:flash/>
    <v:form border="1"{{#ifin context.data.state "done" "voided"}} readonly="1"{{/ifin}}>
        <v:form_head>
            <strong>{{field_value "state" context=context}}</strong>
            {{#if context.data.id}}
                <div class="btn-toolbar" style="float:right;margin:0">
                    <v:button string="Print PDF" icon="print" action="report_inventory_form" action_options="inventory_id={{context.data.id}}"/>
                    <v:button_group string="Options" dropdown="1" align="right">
                        <v:item string="View Stock Transactions" action="warehouse_transactions" action_options='warehouse_id={{context.data.location_id.0.}}&search_condition=[["ref","=","{{context.data.number}}"]]'/>
                        {{#ifeq context.data.state "done"}}
                            <v:divider/>
                            <v:item string="Void" method="void" confirm="Are you sure you want to void this stock count?"/>
                        {{/ifeq}}
                    </v:button_group>
                </div>
            {{/if}}
        </v:form_head>
        <v:form_body {{#unless context.readonly}}background="1"{{/unless}}>
            <v:row>
                <v:field name="location_id" span="2"/>
                <v:field name="date" span="2"/>
                <v:field name="number" span="2"/>
            </v:row>
            <div class="btn-toolbar">
                <v:button string="Fill Products" icon="download" method="fill_products"/>
            </div>
            <v:field name="lines" template="stock_count_line_sheet" count="5" nolabel="1"/>
            <v:field name="state" invisible="1"/>
            <v:field name="uuid" invisible="1"/>
        </v:form_body>
        {{#ifin context.data.state "draft"}}
            <v:form_foot>
                <v:button string="Save" method="_save" size="large" type="primary" next="stock_count_draft"/>
                <v:button string="Validate" method="validate" size="large" type="success" next="stock_count_done"/>
            </v:form_foot>
        {{/ifin}}
    </v:form>
    <v:history uuid="{{context.data.uuid}}"/>
</v:page>
