{{#loop context=context}}
    <div style="border: 1px solid #ccc;padding:8px;border-bottom:none">
        <div style="float:right">
            <v:button_group string="Manage Warehouse" dropdown="1">
                <v:item string="Product Stock" action="warehouse_products" action_options="warehouse_id={{context.data.id}}"/>
                <v:item string="Stock Transactions" action="warehouse_transactions" action_options="warehouse_id={{context.data.id}}"/>
                <v:divider/>
                <v:item string="Goods Receipt" action="pick_in" action_options="mode=form"/>
                <v:item string="Goods Transfer" action="pick_internal" action_options="mode=form"/>
                <v:item string="Goods Issue" action="pick_out" action_options="mode=form"/>
            </v:button_group>
        </div>
        <h4>
            <a href="/action#name=warehouse_products&warehouse_id={{context.data.id}}">
                <v:field name="name">
                    {{value}}
                </v:field>
            </a>
        </h4>
    </div>
    <div style="border: 1px solid #ccc;padding:8px;margin-bottom:20px">
        <div class="row">
            <div class="span2">
                <div class="control-group">
                    <label class="control-label">
                        {{t "Inventory Cost"}}
                    </label>
                    <div class="control-group">
                        <span style="font-size:18px;font-weight:bold">{{field_value "balance" context=context}}</span>
                    </div>
                </div>
            </div>
        </div>
        <v:field name="balance" invisible="1"/>
        <v:action name="warehouse_product_sum" warehouse_id="{{context.data.id}}"/>
    </div>
{{else}}
    There are no items to display.
{{/loop}}
