<v:bread>
    <v:bread_item string="Warehouses" action="warehouse_list"/>
</v:bread>
<v:page title="{{context.data.name}}">
    <v:field name="name" invisible="1"/>
    <div style="float:right">
        <v:button_group string="Manage Warehouse">
            <v:item string="Goods Receipt" action="pick_in_edit" action_options="warehouse_id={{context.data.id}}"/>
            <v:item string="Goods Transfer" action="pick_internal_edit" action_options="warehouse_id={{context.data.id}}"/>
            <v:item string="Goods Issue" action="pick_out_edit" action_options="warehouse_id={{context.data.id}}"/>
        </v:button_group>
    </div>
    <div class="row">
        <v:field name="balance" span="2"/>
    </div>
    <v:tabs>
        <v:tab_item string="Product Stock" action="warehouse_products" action_options="warehouse_id={{context.data.id}}"/>
        <v:tab_item string="Stock Transactions" action="warehouse_transactions" action_options="warehouse_id={{context.data.id}}"/>
    </v:tabs>
    {{{context.content}}}
</v:page>
