<center>
    <h2>
        Sales Payment Report
    </h2>
    <h3>
        {{company_name}}
        <br/>
        Order From {{fmt_date order_date_from}} to {{fmt_date order_date_to}}
        <br/>
        Invoice From {{fmt_date order_date_from}} to {{fmt_date order_date_to}}
    </h3>
</center>
<table class="table">
    <thead class="scroll-header">
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Invoice Number
            </th>
            <th>
                Cart Number
            </th>
            <th>
                Invoice Date
            </th>
            <th>
                Journal Date 
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Telephone
            </th>
            <th>
                Payment Method
            </th>
            <th>
                Account
            </th>
            <th style="text-align:right">
                Payment Amount
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each lines context=context}}
            <tr>
                <td>
                    {{#view "link" action="sale" action_options="mode=form" active_id=order_id context=context}}
                        {{../order_number}}
                    {{/view}}
                </td>
                <td>
                    {{#view "link" action="view_invoice" active_id=invoice_id context=context}}
                        {{../invoice_number}}
                    {{/view}}
                </td>
                <td>
                    {{#view "link" action="ecom_cart" action_options="mode=form" active_id=related_id context=context}}
                        {{../related_number}}
                    {{/view}}
                </td>
                <td>
                    {{fmt_date invoice_date}}
                </td>
                <td>
                    {{fmt_date journal_date}}
                </td>
                <td>
                    {{customer_name}}
                </td>
                <td>
                    {{phone}}
                </td>
                <td>
                    {{pay_method}}
                </td>
                <td>
                    {{account_name}}
                </td>
                <td style="text-align:right">
                    {{currency amount}}
                </td>
            </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="9">Total</th>
            <th style="text-align:right">
                {{currency total}}
            </th>
        </tr>
    </tfoot>
</table>
