<center>
    <h2>
        Sales Profit Report
    </h2>
    <h3>
        {{company_name}}
        <br/>
        From {{fmt_date date_from}} to {{fmt_date date_to}}
    </h3>
</center>
<table class="table">
    <thead class="scroll-header">
        <tr>
            <th>
                Date
            </th>
            <th>
                Sales Order
            </th>
            <th>
                Customer
            </th>
            <th style="text-align:right">
                Sales Amount
            </th>
            <th style="text-align:right">
                Estimated Cost
            </th>
            <th style="text-align:right">
                Estimated Profit
            </th>
            <th style="text-align:right">
                Estimated Profit Percent
            </th>
            <th style="text-align:right">
                Actual Cost
            </th>
            <th style="text-align:right">
                Actual Profit
            </th>
            <th style="text-align:right">
                Actual Profit Percent
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each lines context=context}}
            <tr>
                <td>
                    {{fmt_date date}}
                </td>
                <td>
                    {{#view "link" action="sale" action_options="mode=form" active_id=id context=context}}
                        {{../number}}
                    {{/view}}
                </td>
                <td>
                    {{customer}}
                </td>
                <td style="text-align:right">
                    {{currency amount_subtotal zero=""}}
                </td>
                <td style="text-align:right">
                    {{currency est_cost_total zero=""}}
                </td>
                <td style="text-align:right">
                    {{currency est_profit zero=""}}
                </td>
                <td style="text-align:right">
                    {{currency est_profit_percent zero=""}}
                </td>
                <td style="text-align:right">
                    {{currency act_cost_total zero=""}}
                </td>
                <td style="text-align:right">
                    {{currency act_profit zero=""}}
                </td>
                <td style="text-align:right">
                    {{currency act_profit_percent zero=""}}
                </td>
            </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">Totals</th>
            <th style="text-align:right">
                {{currency totals.amount_subtotal zero=""}}
            </th>
            <th style="text-align:right">
                {{currency totals.est_cost_total zero=""}}
            </th>
            <th style="text-align:right">
                {{currency totals.est_profit zero=""}}
            </th>
            <th style="text-align:right">
                {{currency totals.est_profit_percent zero=""}}
            </th>
            <th style="text-align:right">
                {{currency totals.act_cost_total zero=""}}
            </th>
            <th style="text-align:right">
                {{currency totals.act_profit zero=""}}
            </th>
            <th style="text-align:right">
                {{currency totals.act_profit_percent zero=""}}
            </th>
        </tr>
    </tfoot>
</table>
